<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <title>AMP API</title>
    <link rel="canonical" href="http://shinyatk.com/test_amp-live-list-product/amp-product-sample.html">
    <link rel="amphtml" href="http://shinyatk.com/test_amp-live-list-product/amp-product-sample.html"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Article headline",
      "image": [
        "thumbnail1.jpg"
      ],
      "datePublished": "2017-01-05T08:00:00+08:00"
    }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <!-- AMP Analytics --><script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>
  </head>
  <body>
    <div class="container">

      <amp-list
        width="auto"
        height="600"
        layout="fixed-height"
        src="https://api-test-68486.firebaseio.com/data.json"
        items="items"
        >
        <div placeholder>Loading</div>
        <div fallback>Failed to load data</div>
        <template type="amp-mustache">
          <div>
            <a href="{{itemurl}}">
              <amp-img
                width="128"
                height="128"
                layout="fixed"
                src={{imageurl128}}
              ></amp-img>
            </a>
            <p>{{shopname}}</p>
            <p>{{itemname}}</p>
            <p>{{price}}</p>
          </div>
        </template>
      </amp-list>

    </div>
  </body>
</html>